* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.navbar-collapse {
  justify-content: flex-end;
  font-size: 20px;
}
.navbar-nav {
  text-align: right;
}
.container-fluid {
  margin: 0 60px;
}
.navbar-brand img {
  width: 100px;
  height: 50px;
}
.banner {
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  height: 500px;
}
.banner h1 {
  text-align: center;
  font-size: 70px;
  padding: 10px 50px;
  font-weight: bold;
}

.integrantes {
  background-color: #f299b9;
  padding: 150px 50px;
}
.integrantes h2,
.biography h3,
.albumh2,
.videoContainer h3 {
  text-align: center;
  font-size: 45px;
  padding: 10px;
  font-weight: bold;
}

.integrantes .card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.integrantes .card .card-body p {
  text-align: justify;
}
.card-opacity {
  opacity: 0.7;
}
.biography {
  padding: 150px 50px;
  background-color: #ffffb3;
  font-size: 20px;
  text-align: center;
}

.albumSection {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #72cef2;
  padding-top: 8rem;
  margin-bottom: 0;
}

.albumContainer1 {
  display: flex;
  flex-wrap: nowrap;
  margin: 5%;
  justify-content: space-around;
}
.albumContainer1 img {
  border: 1px solid white;
  width: 40%;
  height: 40%;
}
.albumContainer2 {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 50%;
}

.albumTitle {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 0;
  margin-bottom: 5%;
  margin-top: 5%;
}
.albumSpotify {
  width: 50%;
  height: 100%;
  margin-bottom: 5%;
}
.albumSpotify iframe {
  height: 100%;
  width: 100%;
}

.videoContainer {
  background-color: #f299b9;
  padding: 150px 50px;
}
.card-media {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.videoContainer .row {
  align-items: center;
}
footer {
  background-color: #f2d201;
  color: black;
  text-align: center;
  padding: 20px 250px;
  font-size: 20px;
}
