.navbar-collapse {
    justify-content: flex-end;
    
}
.container-fluid {
    margin: 0 60px;
}
.navbar-brand img {
    width: 100px;
    height: 50px;
}
.banner{
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    height: 500px; 
}

.banner h1 {
    text-align: center;
    font-size: 70px;
    padding: 10px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row {
    justify-content: center;
}
<<<<<<< HEAD
.integrantes h2 {
    font-size: 45px;
    padding: 10px;
}

.integrantes .card img {
    width: 250px;
    height: 250px;
}
=======
 .biography{
    padding: 150px 50px;
    background-color: #ffffb3;
    font-size: 40px;
}
>>>>>>> dcf6fe9ce23d72ee1fa578b508ef9e4cfe1104f6
