
.albumCentrar{
    display: flex;
    justify-content: center;

}
.albumh2{
    text-align: center;
}
.album {
    justify-content: center;

    padding: 10px 10px 10px 10px;
    background-color:#696969; 
    float: left;
    transition: 0.3s;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
  }

.album img{
    
    width: 300px; 
    height: 300px;
}

.albumContainer {
    padding: 2px 16px;
    
  }
.albumContainer p{
    text-align: justify;
    color:white;
}
.albumContainer h2{
    color: #f2E74B;
    text-align:center;
}