.navbar-collapse {
    justify-content: flex-end;
    
}
.container-fluid {
    margin: 0 60px;
}
.navbar-brand img {
    width: 100px;
    height: 50px;
}
.banner{
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    height: 1000px; 
}

.banner h1 {
    text-align: center;
    font-size: 70px;
    padding: 10px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}